.drop-down {
  .drop-down__title {
    font-family: $mainFont;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    margin-bottom: 5px;
  }
  .drop-down__select2 {
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 0px 8px 15px;
    width: 100%;
    background: url('../img/demo-arrow.png') no-repeat scroll center center;
    background-position: right 17px center;
    -webkit-appearance: none;

    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }
}