mixin characteristics(mixclass, number, lux, price)
    .characteristics(class=mixclass)
        .characteristics__number-lux
            .characteristics__number №
            .characteristics__numbers #{number}
            .characteristics__lux #{lux}
        .characteristics__price-day
            .characteristics__price #{price}₽
            .characteristics__day в сутки