.catalog-rooms {
  width: 974px;
  margin: 0 auto;
  padding-left: 60px;
  padding-top: 30px;


  .block-title {
    font-family: $secondFont;
    letter-spacing: 0.7px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
  }
  .card-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .catalog-block {
      width: 270px;
      padding-top: 22px;
      margin-bottom: 19px;

      .catalog-block__image {
        height: 151.38px;
        //background: url('../img/room.png') no-repeat scroll center center;
      }

      .catalog-block__stars-and-reviews {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 18px;

        .catalog-block__stars {
        }
        .catalog-block__reviews-number {
          height: 24px;
          font-family: 'Montserrat-Regular';
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          color: rgba(31, 32, 65, 0.5);
          padding-top: 5px;
          padding-left: 25px;

        }
        .catalog-block__reviews {
          width: 80px;
          font-family: 'Montserrat-Regular';
          font-style: normal;
          font-size: 14px;
          padding-top: 4px;
          line-height: 18px;
          color: rgba(31, 32, 65, 0.5);
          padding-left: 3px;


        }
      }
    }
  }
  .pagination-block {
    width: 255px;
    margin: 0 auto;
    padding-top: 43px;

    .pagination-block__numbers {
      display: flex;


      .pagination-block__number {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: 40px;
        height: 40px;
        font-family: 'Montserrat-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: rgba(31, 32, 65, 0.5);

      }
      .pagination-block__number_active {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
        color: #ffffff;

      }
      .pagination-block__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border-radius: 22px;

      }

    }
    .pagination-block__description {
      font-family: 'Montserrat-Regular';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
      padding-top: 8px;
      padding-left: 6px;
    }
  }
}

