.second-title {
  font-family: $mainFont;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  padding-bottom: 5px;
  margin-top: 20px;

}