.catalog-rooms
    .block-title Номера, которые мы для вас подобрали
    .card-conteiner
        +card('888', '9 990', '145', 'люкс', '../../assets/img/room.png','5')
        +card('840', '9 900', '65', '', '../../assets/img/room2.png', '4')
        +card('980', '8 500', '35', 'люкс', '../../assets/img/room3.png', '3')
        +card('856', '7 300', '19', '', '../../assets/img/room4.png', '5')
        +card('740', '6 000', '44', '', '../../assets/img/room5.png', '4')
        +card('982', '5 800', '56', '', '../../assets/img/room6.png', '3')
        +card('678', '5 500', '45', '', '../../assets/img/room7.png', '5')
        +card('450', '5 300', '39', '', '../../assets/img/room8.png', '4')
        +card('350', '5 000', '77', '', '../../assets/img/room9.png', '3')
        +card('666', '5 000', '25', '', '../../assets/img/room10.png','5')
        +card('444', '5 000', '15', '', '../../assets/img/room11.png', '3')
        +card('352', '5 000', '55', '', '../../assets/img/room12.png', '3')
    .pagination-block
        .pagination-block__numbers
            .pagination-block__number.pagination-block__number_active 1
            .pagination-block__number 2
            .pagination-block__number 3
            .pagination-block__number ...
            .pagination-block__number 15
            .pagination-block__arrow
                img(src='../../assets/img/arrow-right.png', alt='arrow-right')
        .pagination-block__description 1 – 12 из 100+ вариантов аренды
