header.header
  .container
    .header-content
      .logo
        a
          img(src='../../assets/img/Logo.svg', alt='Logo')
      .nav
        ul.nav__menu
          li О нас
          li Услуги
            img(src='../../assets/img/demo-arrow.svg', alt='arrow', class='nav__arrow')
          li Вакансии
          li Новости
          li Соглашения
            img.nav__arrow(src='../../assets/img/demo-arrow.svg', alt='arrow')
      .open
        .open__border
          button.open__button Войти
      .registration
        button.registration__btn Зарегистрироваться