include ../utils/mixins
include ../../modules/mixin/stars/stars
include ../../modules/mixin/card-item/card-item
include ../../modules/mixin/characteristics/characteristics
include ../../modules/mixin/title/title
block variables

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #{title}
        meta(name="description", content=description)
        block head

    body(class=pageClass)
        .wrapper
            #app
                include ../../modules/header/header
                .container
                    include ../../modules/filtr/filtr
                    include ../../modules/catalog-rooms/catalog-rooms
                include ../../modules/footer/footer

        block script