include ../utils/mixins
include ../../modules/mixin/title/title
include ../../modules/mixin/form/form
include ../../modules/mixin/input/input
include ../../modules/mixin/input-radio/input-radio
include ../../modules/mixin/second-title/second-title
include ../../modules/mixin/rounded/rounded
include ../../modules/mixin/gray-text/gray-text
include ../../modules/mixin/button/button
include ../../modules/mixin/characteristics/characteristics
include ../../modules/mixin/select/select
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block head

  body(class=pageClass)
    .wrapper
      #app
        include ../../modules/header/header
        block content

        include ../../modules/footer/footer

    block script