.footer
    .rectangle
        .group2
            .group2__logo-img
                a
                    img(src='../../assets/img/Logo.svg', alt='Logo')
            .group2__logo-description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .group
            h3.group__h3 Навигация
            ul.group__ul
                li О нас
                li Новости
                li Служба поддержки
                li Услуги
        .group.group_align
            h3.group__h3 О нас
            ul.group__ul
                li О сервисе
                li Наша команда
                li Вакансии
                li Инвесторы
        .group
            h3.group__h3 Служба поддержки
            ul.group__ul
                li Соглашения
                li Сообщества
                li Связь с нами
        .group.group_last
            h3.group__h3 Подписка
            .group__subscription Получайте специальные предложения и новости сервиса
            .email-form
                input.group__email-form.input-block(placeholder='Email')
                a
                    img.arrow-form(src='../../assets/img/arrow-forward.svg', alt='arrow-forward')
.copyright
  .copyright__text Copyright © 2018 Toxin отель. Все права зачищены.
  .copyright__img-icons.social
    img.social__icon(src='../../assets/img/twitter.svg', alt='twitter')
    img.social__icon(src='../../assets/img/facebook.svg', alt='facebook')
    img.social__icon(src='../../assets/img/instagram.svg', alt='instagram')
